@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "/Views/Shared/Layout.cshtml"; 
    ViewData["Title"] = "Adicionar Motorista";
}

<form action="create" method="post">

    <div class="row">
        <!-- NOME -->
        <div class="col-md-5">
            <p class="mb-0">Nome Completo</p>
            <input type="text" class="form-control" id="NomeMotorista" name="NomeMotorista">
        </div>

        <!-- CPF -->    
        <div class="col-md-3">
            <p class="mb-0">CPF</p>
            <input type="text" class="form-control CPF" id="CPF" name="CPF" maxlength="11">
        </div>

        <!-- CNH -->    
        <div class="col-md-3">
            <p class="mb-0">CNH</p>
            <input type="text" class="form-control CNH" id="CNH" name="CNH" maxlength="10">
        </div>
    </div>

    <button class="btn btn-primary mt-4">Adicionar</button>
    
</form>