@{ Layout = "/Views/Shared/Layout.cshtml"; }

<form action="" class="">
    <h2 class="display-4 text-center">Criar Contrato</h2>

    <div class="input-group mb-3">
        <span class="input-group-text">Cod Local</span>
        <input type="text" name="CodLocal" id="CodLocal" class="form-control" placeholder="Digite o código do local" aria-describedby="CodLocal">
        
        &nbsp; &nbsp; &nbsp; &nbsp;

        <span class="input-group-text">Commodit</span>
        <select name="Commodit" id="Commodit" class="form-select">
            <option value="Etanol">Etanol</option>
            <option value="Diesel">Diesel</option>
        </select>

        &nbsp; &nbsp; &nbsp; &nbsp;

        <span class="input-group-text">Volume</span>
        <input class="form-control" type="text" name="Volume" id="Volume">
    </div>
</form>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PesquisarLocal">
  Pesquisar
</button>

<!-- Modal -->
<div class="modal fade modal-gm" id="PesquisarLocal" tabindex="-1" role="dialog" aria-labelledby="PesquisaLocal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title" id="PesquisaLocal">Locais</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    Lista Com Locais
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Inserir</button>
            </div>
        </div>
    </div>
</div>

<script>
    var PesquisarLocal = document.getElementById('PesquisarLocal');

    PesquisarLocal.addEventListener('show.bs.modal', function (event) {
          // Button that triggered the modal
          let button = event.relatedTarget;
          // Extract info from data-bs-* attributes
          let recipient = button.getAttribute('data-bs-whatever');

        // Use above variables to manipulate the DOM
    });
</script>

