@model Locais
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "/Views/Shared/Layout.cshtml"; }
@{ ViewData["title"] = "Adicionar Local"; }

<form action="/locais/create" method="post">
    <div class="row">
        <div class="col-md-3">
            <p class="mb-0">Categoria</p>
            <select class="form-control" asp-for="TipoLocal" asp-items="Html.GetEnumSelectList<TipoLocal>()">
                <option disabled="" value="" selected="" hidden="">Selecione</option>
            </select>
        </div>
        <div class="col-md-6">
            <p class="mb-0">Razão Social</p>
            <input type="text" class="form-control" name="LocalRazaoSocial" id="LocalRazaoSocial" placeholder="Razão Social"/>
        </div>
        <div class="col-md-3">
            <p class="mb-0">CPNJ</p>
            <input type="text" class="form-control ls-mask-cnpj" name="CNPJ" id="CNPJ" placeholder="CNPJ"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p class="mb-0 mt-3">Nome Fantasia</p>
            <input type="text" class="form-control ls-mask-cnpj" name="LocalNomeFantasia" id="LocalNomeFantasia" placeholder="Nome Fantasia"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p class="mb-0 mt-3">ANTT</p>
            <input type="text" class="form-control ls-mask-cnpj" name="ANTT" id="ANTT" placeholder="ANTT"/>
        </div>
        <div class="col-md-3">
            <p class="mb-0 mt-3">IE</p>
            <input type="text" class="form-control ls-mask-cnpj" name="IE" id="IE" placeholder="IE"/>
        </div>
    </div>

    <!-- ENDEREÇO -->
    <div class="row mt-5">
        <p class="mb-0 mt-0"><h4>Endereço:</h4></p>
        <!-- CEP -->
        <div class="col-md-2">
            <p class="mb-0">Endereço</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="CEP" id="CEP" placeholder="CEP"/>
            </div>
        </div>

        <!-- Logradouro -->
        <div class="col-md-6">
            <p class="mb-0">&ensp;</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="Logradouro" id="Logradouro" placeholder="Logradouro" />
            </div>
        </div>

        <!-- Bairro -->
        <div class="col-md-4">
            <p class="mb-0">&ensp;</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="Bairro" id="Bairro" placeholder="Bairro" />
            </div>
        </div>
    </div>
    <div class="row">

        <!-- Numero -->
        <div class="col-md-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="Numero" id="Numero" placeholder="Numero" />
            </div>
        </div>
        <!-- Complemento -->
        <div class="col-md-4">
            <div class="input-group mb-">
                <input type="text" class="form-control" name="Complemento" id="Complemento" placeholder="Complemento" />
            </div>
        </div>

        <!-- Estado -->
        <div class="col-md-2">
            <div class="input-group mb-3">
                <select class="form-control" asp-for="Estado" asp-items="Html.GetEnumSelectList<Estados>()">
                    <option disabled="" value="" selected="" hidden="">Selecione</option>
                </select>
                @* <input type="text" class="form-control" name="Estado" id="Estado" placeholder="UF" /> *@
            </div>
        </div>
        
        <!-- Cidade -->
        <div class="col-md-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="Cidade" id="Cidade" placeholder="Cidade" />
            </div>
        </div>
    </div>
    <!-- FIM ENDEREÇO -->

    <button class="btn btn-primary">Adicionar</button>

    @* <input name="Responsaveis" class="form-control"/>
    <input name="Telefones" class="form-control"/>
    <input name="Emails" class="form-control"/> *@
</form>